.ballons {
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 50%;
  height: 100%;
  z-index: -1;
}

.ballon {
  position: absolute;
  width: 40px;
  height: 40px;
  background: linear-gradient(
    rgb(255, 255, 255, 0.4),
    rgb(255, 255, 255, 0.1),
    rgb(255, 255, 255, 0)
  );
  border-radius: 50%;
  bottom: 0; /* Start from the bottom */
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.ballon:nth-child(1) {
  animation: balloon-1 10s ease-in-out infinite;
}

.ballon:nth-child(2) {
  animation: balloon-2 9s ease-in-out infinite;
}

.ballon:nth-child(3) {
  animation: balloon-3 11s ease-in-out infinite;
}

.ballon:nth-child(4) {
  animation: balloon-4 13s ease-in-out infinite;
}

.ballon:nth-child(5) {
  animation: balloon-5 16s ease-in-out infinite;
}

.ballon:nth-child(6) {
  animation: balloon-6 20s ease-in-out infinite;
}

.ballon:nth-child(7) {
  animation: balloon-7 25s ease-in-out infinite;
}

.ballon:nth-child(8) {
  animation: balloon-8 15s ease-in-out infinite;
}

.ballon:nth-child(9) {
  animation: balloon-9 18s ease-in-out infinite;
}

.ballon:hover {
  opacity: 1;
}

@keyframes balloon-1 {
  0% {
    opacity: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(3);
  }
  50% {
    opacity: 1;
    bottom: 70%;
    left: calc(50% + 15px);
    transform: translate(-50%, -50%) scale(1.5);
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    bottom: 100%;
    left: calc(50% - 20px);
    transform: scale(1) rotate(720deg);
  }
}

@keyframes balloon-2 {
  0% {
    opacity: 0;
    bottom: 0;
    left: 50%;
    transform: scale(3);
  }
  50% {
    opacity: 1;
    bottom: 75%;
    left: -50%;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    bottom: 100%;
    left: 30%;
    transform: scale(1) rotate(720deg);
  }
}

@keyframes balloon-3 {
  0% {
    opacity: 0;
    bottom: 0;
    left: 50%;
    transform: scale(3);
  }
  50% {
    opacity: 1;
    bottom: 80%;
    left: 70%;
    transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    opacity: 0;
    bottom: 100%;
    left: 25%;
    transform: translate(-50%, -50%) scale(1) rotate(720deg);
  }
}

@keyframes balloon-4 {
  0% {
    opacity: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(3);
  }
  50% {
    opacity: 1;
    bottom: 70%;
    left: -35%;
    transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    opacity: 0;
    bottom: 100%;
    left: calc(50% + 20px);
    transform: translate(-50%, -50%) scale(1) rotate(720deg);
  }
}

@keyframes balloon-5 {
  0% {
    opacity: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(3);
  }
  50% {
    opacity: 1;
    bottom: 75%;
    left: calc(50% + 25px);
    transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    opacity: 0;
    bottom: 100%;
    left: calc(50% - 25px);
    transform: translate(-50%, -50%) scale(1) rotate(720deg);
  }
}

@keyframes balloon-6 {
  0% {
    opacity: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(3);
  }
  50% {
    opacity: 1;
    bottom: 70%;
    left: calc(50% + 10px);
    transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    opacity: 0;
    bottom: 100%;
    left: calc(50% - 10px);
    transform: translate(-50%, -50%) scale(1) rotate(720deg);
  }
}

@keyframes balloon-7 {
  0% {
    opacity: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(3);
  }
  50% {
    opacity: 1;
    bottom: 85%;
    left: calc(50% + 30px);
    transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    opacity: 0;
    bottom: 100%;
    left: calc(50% - 15px);
    transform: translate(-50%, -50%) scale(1) rotate(720deg);
  }
}

@keyframes balloon-8 {
  0% {
    opacity: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(3);
  }
  50% {
    opacity: 1;
    bottom: 80%;
    left: calc(50% - 20px);
    transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    opacity: 0;
    bottom: 100%;
    left: calc(50% + 20px);
    transform: translate(-50%, -50%) scale(1) rotate(720deg);
  }
}

@keyframes balloon-9 {
  0% {
    opacity: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(3);
  }
  50% {
    opacity: 1;
    bottom: 75%;
    left: calc(50% + 15px);
    transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    opacity: 0;
    bottom: 100%;
    left: calc(50% - 25px);
    transform: translate(-50%, -50%) scale(1) rotate(720deg);
  }
}
