.computer {
  width: 450px;
  height: 430px;
  position: relative;
  left: 50px;
  top: 150px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  transform: skewY(-10deg) scale(0.9);
  transition: 0.5s;
  z-index: 1;
  display: none;
}

.computer:hover {
  transform: skewX(0deg) scale(1.1);
}

.computer:hover .screen {
  transform: skewX(0deg);
  left: 0px;
  border-top: 2px solid rgb(201, 201, 201);
  border-right: 2px solid rgb(201, 201, 201);
}

.computer:hover .keyboard {
  transform: skewX(0deg);
  border-bottom: 2px solid rgb(180, 180, 180);
  border-right: 2px solid rgb(177, 177, 177);
}

.computer:hover .keyboard-key {
  box-shadow: 0px 2px 0px rgb(163, 163, 163);
}

.computer .screen {
  width: 400px;
  height: 186px;
  background: transparent;
  position: relative;
  color: rgb(202, 202, 202);
  padding: 20px;
  left: -10px;
  transform: skewX(25deg);
  border: 2px solid rgb(201, 201, 201);
  border-top: 3px solid rgb(201, 201, 201);
  border-right: 5px solid rgb(201, 201, 201);
  border-bottom: 1px solid rgb(201, 201, 201);
  border-radius: 7px;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.5s;
  /* overflow: hidden; */
  border-radius: 20px;
  top: -9px;
}

.computer .screen::before {
  content: "";
  display: block;
  width: 420px;
  height: 200px;
  border: 1px solid rgb(224, 224, 224);
  position: absolute;
  border-radius: 15px;
  left: 8px;
  top: 10px;
  box-shadow: inset 2px -2px 0px rgb(224, 224, 224);
  transition: 0.5s;
}

.computer:hover .screen::before {
  box-shadow: inset 0px 0px 0px rgb(224, 224, 224);
}

.computer .screen::after {
  content: "";
  display: block;
  width: 400px;
  height: 186px;
  border: 2px solid rgb(224, 224, 224);
  position: absolute;
  border-radius: 15px;
  right: -30px;
  top: -30px;
  border-left: none;
  border-bottom: none;
  opacity: 0.5;
  transition: 0.4s;
}

.computer:hover .screen::after {
  right: -1px;
  top: -1px;
  width: 400px;
  height: 186px;
  padding: 20px;
}

#typing {
  font-size: 14px;
}

.computer .keyboard {
  width: 430px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  position: absolute;
  top: 220px;
  transform: skew(-20deg);
  /* background: rgb(255, 255, 255, 0.05); */
  border: 2px solid rgb(180, 180, 180);
  border-bottom: 5px solid rgb(180, 180, 180);
  border-right: 5px solid rgb(180, 180, 180);
  border-top: 1px solid rgb(201, 201, 201);
  border-radius: 20px;
  transition: 0.5s;
  z-index: 2;
}

.computer .keyboard::before {
  content: "";
  width: 400px;
  height: 180px;
  display: flex;
  /* padding: 5px; */
  position: absolute;
  top: 55px;
  right: -30px;
  border: 2px solid rgb(180, 180, 180);
  border-top: none;
  border-left: none;
  border-radius: 20px;
  transition: 0.4s;
  opacity: 0.5;
  z-index: 0;
}

.computer:hover .keyboard::before {
  top: 0px;
  right: -1px;
  padding: 5px;
  height: 200px;
  width: 430px;
}

.keyboard-key {
  color: #000000;
  /* background: white; */
  /* border: 1px solid rgb(214, 214, 214);
  border-bottom: 3px solid rgb(214, 214, 214);
  border-right: 2px solid rgb(214, 214, 214); */
  box-shadow: 2px 2px 0px rgb(163, 163, 163);
  height: 25px;
  width: auto;
  margin: 2.5px;
  padding: 2px 8px;
  border-radius: 9px;
  color: #ffffff;
  position: relative;
  font-family: "Montserrat-normal";
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.keyboard-key::before {
  content: "";
  width: 90%;
  height: 90%;
  background: linear-gradient(
    rgb(255, 255, 255, 0.5),
    rgb(255, 255, 255, 0),
    rgb(255, 255, 255, 0)
  );
  border-radius: 30px;
  position: absolute;
}

.space {
  width: 100px;
}

.fa-delete-left {
  padding: 0 10px;
}

/* Animations */

#blink {
  color: white;
  padding-left: 2px;
  animation: blinker 1s linear infinite;
  visibility: hidden;
}

@keyframes blinker {
  0% {
    visibility: visible;
  }

  50% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}

.clicked {
  background: #d8d8d8;
  transform: scale(0.5);
}

.gear-scroll {
  position: fixed;
  z-index: 400;
  width: 100px;
  height: 100px;
  bottom: 0px;
  right: 0px;
  display: none;
  align-items: center;
  justify-content: center;
}

.gear-scroll .fa-solid {
  font-size: 60px;
  color: #5c5c5c;
}

.gear-scroll .fa-solid:nth-child(2) {
  font-size: 40px;
  color: #5c5c5c;
}
