.invalid-email {
  color: white;
  width: 100%;
  height: auto;
  margin-top: 0.5%;
  display: none;
  text-align: center;
  position: relative;
}

.error-response {
  background: rgb(255, 95, 95);
  position: absolute;
  width: 90%;
  top: -50px;
  padding: 0% 5%;
}

/*  */

.Personal-details {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 24px;
  margin: 5px 0px 10px 0px;
  color: white;
}

input {
  padding: 10px 10px;
  color: rgb(255, 255, 255);
  border-color: white;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0);
}

#name,
#email,
#subject {
  margin-left: 0%;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

textarea {
  height: 100px;
  border: 2px solid;
  resize: none;
  font-size: 20px;
  padding: 5px 10px;
  color: rgb(255, 255, 255);
  background: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0);
}

input:focus-visible,
textarea:focus-visible {
  border: 2px solid rgb(255, 255, 255); /* White border */
  background: rgba(255, 255, 255, 0.5); /* Transparent background */
  border-top: none; /* No top border */
  border-left: none; /* No left border */
  border-right: none; /* No right border */
  outline: none; /* Remove default outline */
  transition: border-color 0.3s ease, background 0.5s ease; /* Smooth transition */
  color: white; /* Text color */
  border-radius: 0px;
}

form {
  width: 60%;
  margin: auto;
  position: relative;
  padding: 50px;
  border-radius: 20px;
}

::placeholder {
  color: rgb(255, 255, 255);
}

.send-button {
  background: none;
  width: 30%;
  margin-top: 20px;
}

.mail {
  display: flex;
  flex-direction: column;
}
