/* cyrillic-ext */
@font-face {
  font-family: "Montserrat-lighter";
  font-style: normal;
  src: local("Montserrat-ExtraLight"),
    url(../Montserrat/static/Montserrat-ExtraLight.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-light";
  font-style: normal;
  src: local("Montserrat-Light"), url(../Montserrat/static/Montserrat-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-normal";
  font-style: normal;
  src: local("Montserrat-Medium"),
    url(../Montserrat/static/Montserrat-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-bold";
  font-style: normal;
  src: local("Montserrat-Bold"), url(../Montserrat/static/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-extra-bold";
  font-style: normal;
  src: local("Montserrat-Bold"),
    url(../Montserrat/static/Montserrat-ExtraBold.ttf) format("truetype");
}

* {
  /* font-family: "Montserrat-light"; */
}
