.side-nav {
  display: flex;
  flex-direction: column;
  width: 7%;
  position: fixed;
  height: 100vh;
  z-index: 120;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.5s;
  color: black;
  background: white;
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.1);
}

.side-nav a {
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  position: relative;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-delay: 3s;
  font-family: "Montserrat-normal";
}

.side-nav a .fa-solid {
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.1);
  background: white;
  border-radius: 10px;
  height: 30px;
  width: 30px;
  color: rgb(55, 162, 224);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.below {
  background: white;
  color: rgb(255, 255, 255);
  transition: 0.3s ease;
  left: 75px;
  position: absolute;
  padding: 10px 20px;
  border-radius: 0 30px 30px 0;
  z-index: -1;
  background: rgb(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  font-weight: 700;
  display: none;
  transition: 0.5s ease;
}

.side-nav a:hover .fa-solid {
  background: rgb(55, 162, 224);
  color: white;
}

.side-nav a:hover .below {
  transform: scale(1);
  display: block;
}

.scrolled {
  color: rgb(255, 15, 15);
}

.section {
  position: relative;
  /* transform: scale(0); */
}

.section h2 a {
  background: black;
  color: white;
  text-decoration: none;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  margin: 1rem;
  border: 2px solid black;
  font-weight: 100;
  font-size: 1.2rem;
}

.section h2 a:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.visible {
  transition: 0.5s;
  transform: scale(1);
}

.bg-color {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.text-image {
  width: 90%;
  margin: 0 5%;
  font-family: "Montserrat-light";
  font-size: 18px;
  padding-bottom: 40px;
  position: relative;
  z-index: 10;
  display: flex;
  margin-top: -10px;
  padding-left: 10%;
}

.text-image img {
  width: 300px;
  height: 300px;
  margin-top: -15%;
  margin-left: 10%;
}

.text-image div {
  text-align: left;
  width: 50%;
}

.updates {
  font-size: 16px;
}
.update-time {
  font-weight: 100;
  color: rgb(187, 187, 187);
}
#message {
  padding-left: 0.5rem;
}
