#top-icons {
  background: rgb(204, 204, 204);
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  top: -20px;
  left: 0px;
  position: relative;
}

.side-nav {
  display: flex;
  width: 75%;
  position: fixed;
  height: 50px;
  z-index: 120;
  align-items: center;
  justify-content: center;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgb(0, 0, 0, 0.1); /* Slightly transparent background */
  backdrop-filter: blur(20px); /* Adjust the blur amount as needed */
  transition: 0.5s;
  color: black;
}

.side-nav h1 {
  font-family: "Montserrat-extra-bold";
  color: rgb(255, 255, 255);
  font-size: 28px;
  margin: 0px 30px;
}

.side-nav a {
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  position: relative;
  margin: 1px;
  color: white;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition-delay: 3s;
  font-family: "Montserrat-normal";
}

.below {
  width: 0%;
  height: 2px;
  background: white;
  transition: 0.3s ease;
}

.side-nav a:hover .below {
  width: 100%;
}

.scrolled {
  color: rgb(255, 15, 15);
}

.section {
  position: relative;
  /* transform: scale(0); */
}

.section h2 a {
  background: black;
  color: white;
  text-decoration: none;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  margin: 1rem;
  border: 2px solid black;
  font-weight: 100;
  font-size: 1.2rem;
}

.section h2 a:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.visible {
  transition: 0.5s;
  transform: scale(1);
}

.bg-color {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.text-image {
  width: 90%;
  background: rgb(255, 255, 255);
  margin: 0 5%;
  font-family: "Montserrat-light";
  font-size: 18px;
  padding-bottom: 40px;
  position: relative;
  z-index: 10;
}

.text-image::before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  background: rgb(255, 255, 255);
  transform: rotate(45deg);
  left: 5%;
  margin-left: -8px;
  bottom: -20px;
  z-index: -1;
}

.updates {
  font-size: 16px;
}
.update-time {
  font-weight: 100;
  color: rgb(187, 187, 187);
}
#message {
  padding-left: 0.5rem;
}
