/* skills */

.panel-one {
  height: 200px;
  position: relative;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-column-gap: 1%;
}

.skills-main {
  display: flex;
  flex-direction: column;
}

.panel-skills {
  position: relative;
  padding: 20px;
  margin: 10px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  flex: 0 0 33%;
}

.skillsPanel {
  height: 50px;
  left: 0px;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.5s;
  color: rgb(0, 0, 0);
  margin: 1%;
}

.skillsPanel:hover .fa-brands,
z .skillsPanel:hover .fa-solid {
  color: #b8b8b8;
  transition: 1s;
}

.skillsPanel div {
  font-size: 16px;
  padding-left: 5px;
}

/* skillsPanel */

.sub-title {
  font-size: 24px;
  text-align: left;
  padding: 20px 0px;
  position: relative;
  font-family: "Montserrat-extra-bold";
  color: white;
}

.skillsPanel img {
  width: 35px;
  height: 35px;
}

.skillsPanel div {
  font-size: 18px;
  font-weight: 100;
}

/* blink */

@keyframes blink {
  0% {
    visibility: hidden;
  }

  50% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

.schools-items {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.schools-items table,
table {
  width: 100%;
  border-collapse: collapse;
  color: rgb(255, 255, 255);
  font-family: "Montserrat-normal";
}

li {
  list-style: square;
}

.schools-items table th,
table th {
  padding: 10px;
  /* border-collapse: collapse; */
  font-size: 32px;
  text-align: start;
  font-family: "Montserrat-bold";
  border: 1px solid rgb(255, 255, 255);
}

td {
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
  font-size: 16px;
  padding: 10px;
  /* border: 1px solid; */
}

td:nth-child(1) {
}

.download-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.download-cv {
  color: rgb(228, 228, 228);
  cursor: pointer;
  border: 2px solid;
  border-bottom: 5px solid;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 0.3s;
  font-family: "Montserrat-bold";
  overflow: hidden;
  transition-delay: 0.2s;
  padding: 10px 0;
}

.button {
  color: rgb(146, 146, 146);
  cursor: pointer;
  border: 2px solid #ececec;
  border-bottom: 5px solid #ececec;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 0.3s;
  font-family: "Montserrat-bold";
  overflow: hidden;
  /* transition-delay: 0.2s; */
  padding: 10px;
  z-index: 1;
}

.download-cv:nth-child(2) {
  margin-top: 10px;
}

#download:hover::before {
  visibility: visible;
}

.button:hover::before {
  visibility: visible;
}

#download::before {
  content: "";
  width: 100%;
  height: 100%;
  background: white;
  display: block;
  position: absolute;
  left: var(--before-left, -100%);
  visibility: var(--visibility, hidden);
  transition: left 0.3s ease;
  transition: 0.3s;
  z-index: -1;
}

.button::before {
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0%;
  background: rgb(255, 255, 255);
  color: rgb(146, 146, 146);
  z-index: -1;
  transition: 0.3s;
}

.button::after {
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  left: 50%;
  background: rgb(255, 255, 255);
  color: rgb(146, 146, 146);
  z-index: -1;
  transition: 0.3s;
}

.download-cv:hover {
  transform: scale(1);
  color: rgb(146, 146, 146);
  border: 2px solid white;
  border-bottom: 5px solid rgb(228, 228, 228);
}

.button:hover {
  transform: scale(1);
  color: white;
}
.button:hover::before {
  left: -50%;
}

.button:hover::after {
  left: 100%;
}

/* Load bars */

.btn-load {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  left: 5px;
  border: 3px solid transparent;
  border-top: 3px solid;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  visibility: hidden;
}

#send {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Projects */
.project-section {
  width: 100%;
  height: auto;
  background: white;
  border-radius: 10px;
  color: rgb(71, 154, 255);
  padding-bottom: 100px;
  text-align: center;
}

.project-section p {
  font-size: 16px;
}

h2 {
  font-family: "Montserrat-light";
  color: white;
}

.project-section:hover {
  filter: saturate(10%);
}

iframe {
  border-radius: 20px;
  border: 2px solid white;
}
