.skillsPanel {
  left: 0px;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.5s;
  color: rgb(0, 0, 0);
  margin: 2%;
}

.skillsPanel div {
  font-size: 16px;
  padding-left: 5px;
}

.sub-title {
  font-size: 100px;
  text-align: left;
  position: relative;
  font-family: "candy";
  color: rgb(0, 0, 0);
  margin: 50px;
}

.skillsPanel img {
  width: 30px;
  height: 30px;
}

.skillsPanel div {
  font-size: 16px;
  font-weight: 100;
}

/* blink */

@keyframes blink {
  0% {
    visibility: hidden;
  }

  50% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

.schools-items {
  width: 100%;
  display: flex;
  flex-direction: column;
}

table {
  width: 90%;
  margin: 0 5%;
  border-collapse: collapse;
  font-family: "Montserrat-bold";
}

li {
  list-style: square;
}

.schools-items table th,
table th {
  padding: 10px 10px;
  padding-left: 10px;
  font-size: 20px;
  text-align: start;
  font-family: "Montserrat-normal";
}

table th:first-child {
  border-radius: 30px 0px 0px 30px;
}
table th:last-child {
  border-radius: 0px 30px 30px 0px;
}

td {
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
  font-size: 18px;
  padding: 10px;
  font-family: "Montserrat-bold";
}

td:nth-child(1) {
  border-radius: 30px 0px 0px 30px;
}
td:last-child {
  border-radius: 0px 30px 30px 0px;
}

td:nth-child(1) {
}

.download-section {
  width: 50%;
  display: flex;
  top: 80%;
  left: 25%;
  position: absolute;
  align-items: center;
  justify-content: center;
}

#download {
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: 1px solid;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 30px;
  margin-bottom: 10px;
  transition: 0.3s;
  font-family: "Montserrat-bold";
  overflow: hidden;
  transition-delay: 0.2s;
  padding: 6px;
  padding-left: 20px;
}

.button {
  color: #15a3cd;
  cursor: pointer;
  border: 1px solid #ececec;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 30px;
  margin-bottom: 10px;
  margin-left: 20px;
  transition: 0.3s;
  font-family: "Montserrat-bold";
  overflow: hidden;
  padding: 6px;
  z-index: 1;
  padding-left: 20px;
}

.download-cv:nth-child(2) {
  margin-left: 10px;
}

#download:hover::before {
  visibility: visible;
}

.button:hover::before {
  visibility: visible;
}

#download::before {
  content: "";
  width: 100%;
  height: 100%;
  background: white;
  display: block;
  position: absolute;
  left: var(--before-left, -100%);
  visibility: var(--visibility, hidden);
  transition: left 0.3s ease;
  transition: 0.3s;
  z-index: -1;
}

.button::before {
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0%;
  background: rgb(255, 255, 255);
  z-index: -1;
  transition: 0.3s;
}

.button::after {
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  left: 50%;
  background: rgb(255, 255, 255);
  z-index: -1;
  transition: 0.3s;
}

#download:hover {
  transform: scale(1);
  color: #15a3cd;
  border: 1px solid white;
}

/* #download:hover::before {
  left: 0%;
}

#download:hover::after {
  left: 0%;
} */

.button:hover {
  transform: scale(1);
  color: white;
}
.button:hover::before {
  left: -50%;
}

.button:hover::after {
  left: 100%;
}

/* Load bars */

.btn-load {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  left: 5px;
  border: 3px solid transparent;
  border-top: 3px solid;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  visibility: hidden;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#send {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Education {
  position: relative;
  background: #ffd332;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 50px;
}
/* .Education .sub-title{
 color: whitel
} */

.Education::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  transform: rotate(45deg);
  right: 10%;
  margin-right: -8px;
  top: -60px;
  z-index: -1;
}
