.project-scroll {
  display: flex;
  transition: 0.5s ease;
  width: 100%;
  transition-delay: 0.2s;
}

.scroll-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 100%;
}

/* .scroll-item:nth-child(2) {
  display: none;
} */

.project-scroll h1 {
  color: white;
}
.project-scroll h2 {
  color: white;
}
.project-scroll .button {
  width: 15%;
}

.stack {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0px;
}

.stack .stack-item {
  color: hsl(0, 0%, 45%);
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 5px 10px;
  font-family: "Montserrat-normal";
  background: white;
  border: 3px solid #ececec;
  border-bottom: 5px solid #c4c4c4;
  border-right: 5px solid #e9e9e9;
  position: relative;
  transition: 0.3s ease;
  transform: scale(0.9);
}

.stack .stack-item::before {
  content: "";
  width: 100%;
  height: 20px;
  background: linear-gradient(180deg, rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0), rgb(0, 0, 0, 0));
  position: absolute;
  bottom: -25px;
  left: 0px;
  border-radius: 60px 60px 0 0;
  z-index: -1;
  transition: 0.5s;
}

.stack .stack-item:hover::before {
  transform: scale(0.8);
  border-radius: 50%;
}

.stack .stack-item:hover {
  transform: scale(1.15);
}

#portfolio .scrollers {
  width: 90%;
  position: absolute;
}

#portfolio .scrollers .fa-chevron-right,
#portfolio .scrollers .fa-chevron-left {
  color: white;
  font-size: 20px;
  position: absolute;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

#portfolio .scrollers .fa-chevron-left {
  left: 0vw;
}

#portfolio .scrollers .fa-chevron-right {
  right: 0vw;
}

#portfolio .scrollers .fa-chevron-left:hover,
#portfolio .scrollers .fa-chevron-right:hover {
  transform: scale(1.5);
}
