.project-scroll {
  display: flex;
  transition: 0.5s ease;
  width: 100%;
  transition-delay: 0.2s;
}

.scroll-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 100%;
}

/* .scroll-item:nth-child(2) {
  display: none;
} */

.project-scroll {
  color: rgb(0, 0, 0);
}

.project-scroll h2 {
  color: white;
}

.project-scroll .button {
  width: 15%;
}

.stack {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0px;
}

.stack .stack-item {
  color: hsl(0, 0%, 0%);
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 5px 10px;
  font-family: "Montserrat-normal";
  background: white;
  position: relative;
  transition: 0.3s ease;
  transform: scale(0.9);
}

#portfolio .scrollers {
  width: 90%;
  position: absolute;
}

#portfolio .scrollers .fa-chevron-right,
#portfolio .scrollers .fa-chevron-left {
  color: white;
  font-size: 20px;
  position: absolute;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

#portfolio .scrollers .fa-chevron-left {
  left: 0vw;
}

#portfolio .scrollers .fa-chevron-right {
  right: 0vw;
}

#portfolio .scrollers .fa-chevron-left:hover,
#portfolio .scrollers .fa-chevron-right:hover {
  transform: scale(1.5);
}
