/* .below-border:nth-child(3) {
  display: none;
} */

/* Phone */

@media only screen and (min-width: 298px) and (max-width: 600px) {
  body {
    /* background: red; */
    margin: 0;
    width: 100vw;
  }

  /* Menu */
  .fa-bars {
    display: block;
    background: black;
    font-size: 36px;
    color: white;
    width: 90%;
    text-align: center;
    padding: 5%;
    position: fixed;
    z-index: 500;
    transition: .5s;
  }

  .mobi-nav {
    display: block;
  }

  .content {
    width: 100%;
    position: relative;
    z-index: 1;
    transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1%;
  }

  .title {
    z-index: 10;
    font-size: 60px;
    font-weight: 300;
    color: hsla(0, 0%, 0%, 0.76);
    text-align: center;
    font-family: cursive;
  }

  .sub-title {
    font-size: 36px;
    text-align: center;
  }

  /* Navigation */

  .side-nav {
    display: flex;
    flex-direction: column;
    height: auto;
    display: none;
  }

  .show {
    display: flex;
  }

  .side-nav a:nth-child(1) {
    display: none;
  }

  .side-nav a {
    margin: 20px;
  }

  .side-nav a:hover {
    background: white;
    color: black;
  }

  .below-border {
    display: none;
  }

  .text-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 100px;
    background: white;
  }

  .download-section {
    display: grid;
    grid-template-columns: 50% 50%;
  }


  .computer {
    display: none;
  }

  .profile {
    border-radius: 50%;
    width: 50%;
    display: block;
    position: absolute;
    z-index: 300px;
  }

  #home {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: rgb(0, 0, 0, 0.2);
    overflow: hidden;
    /* padding: 5vb; */
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
  }

  #home-inner {
    background: white;
    width: 100px;
  }

  #home-text {
    position: absolute;
    background: rgb(255, 255, 255);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #home-text::before {
    content: "";
    display: none;
  }

  #home-text p {
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
  }

  #home-text p:nth-child(1) {
    font-family: cursive;
  }


  .socials-icons img {
    width: 30px;
    margin: 10px;
  }

  .socials-inner {
    position: relative;
  }

  .socials-inner:hover .tool-tip {
    display: block;
  }

  .tool-tip {
    background: rgb(0, 0, 0);
    padding: 5px;
    color: rgb(255, 255, 255);
    position: absolute;
    display: none;
    border-radius: 5px;
    left: -20%;
    top: 95%;
    animation: tip;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .tool-tip::before {
    content: "";
    position: absolute;
    width: 5;
    height: 10;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid rgb(0, 0, 0);
    top: -10px;
    margin: auto 30%;
    transform: rotate(0deg);
  }

  .skills-grid {
    display: flex;
    flex-direction: column;
  }


  .schools-items {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .schools-items table {
    width: 100%;
    border-collapse: collapse;
    background: rgb(255, 255, 255);
    color: rgb(24, 24, 24);
  }


  .schools-items table th {
    padding: 0px;
    /* border-collapse: collapse; */
    font-size: 18px;
    text-align: start;
    background: rgb(223, 223, 223);
    border: 1px solid rgb(146, 146, 146)
  }

  td {
    border: 1px solid rgb(146, 146, 146);
    font-size: 16px;
    padding: 2%;
    /* border: 1px solid; */
  }


  /* Projects */

  .projects-panel {
    display: flex;
    flex-direction: column;
  }

  .project {
    width: 98%;
    height: 450px;
    margin: 1%;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .project-inner {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project-inner span:nth-child(1) {
    background: none;
    color: white;
    margin: 10px 0px;
    font-size: 20px;
    text-decoration: underline;
  }

  .project-inner span {
    color: rgb(255, 255, 255);
    border-radius: 2px;
    font-size: 16px;
    padding: 5px;
    margin-left: 30px;
  }

  .tech-stack {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -100px;
  }

  .project-inner:hover .project-details {
    display: flex;
    flex-direction: column;
  }

  .project-details {
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 150px 100px;
    top: 0px;
    display: none;
    align-items: center;
    justify-content: center;
  }

  .project-details .buttons {
    display: flex;
    position: relative;
    top: -100px;
  }

  .project-details .buttons a {
    text-decoration: none;
  }

  .project-details button:nth-child(1),
  .project-details button:nth-child(2) {
    background: rgb(0, 0, 0);
    color: white;
    font-size: 20px;
    border: 1px solid;
    padding: 5px 10px;
    margin: 5px;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project-details button:nth-child(1) .fa-solid,
  .project-details button:nth-child(2) .fa-brands {
    padding-right: 10px;
  }

  .fa-github {
    padding-right: 10px;
  }

  .project-details button:nth-child(1):hover,
  .project-details button:nth-child(2):hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }

  .project-inner img {
    max-width: 100%;
    height: auto;
    transition: 1s;
  }

  /* Contact */
  form {
    width: 100%;
    margin: auto;
    position: relative;
    padding: 50px;
    background: white;
  }

  .send-button {
    width: 100%;
    margin-top: 20px;
    background: rgb(0, 0, 0);
    border: none;
    font-size: 36px;
    color: white;
    cursor: pointer;
  }

  /* Hobbies */
  .welcome {
    display: inline-block;
  }

  .panel-one {
    height: 400px;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1%;
  }

}