/*Colors*/

:root {
  --orange: rgb(255, 255, 255);
}

body {
  margin: 0%;
  background: rgb(46, 46, 46);
  background-size: cover;
  background-position: center;
  background-clip: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  overflow: hidden;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(46, 46, 46);
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  height: 10px;
  cursor: all-scroll;
}

@media screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 10px;
    display: none;
  }

  ::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(49, 69, 158);
    height: 10px;
    cursor: all-scroll;
    border-radius: 20px;
  }
}

* {
  font-family: "Montserrat-light";
}

.left-border {
  border-left: 4px solid rgb(93, 196, 110);
  border-radius: 4px;
  background: rgb(244, 253, 255);
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  z-index: 10;
  font-size: 42px;
  margin: 10px 50px;
  font-weight: 300;
  position: relative;
  color: rgb(0, 0, 0);
}

.fa {
  color: rgb(215, 241, 255);
  font-size: 28px;
}

.dot {
  display: flex;
  float: right;
}

.dots {
  background: rgb(255, 255, 255);
  height: 10px;
  width: 10px;
  margin: 5px;
  border-radius: 50%;
}

/*Other pages*/

#home {
  width: 100%;
  height: 100vh;
  position: relative;
  background: rgb(0, 0, 0);
  /* overflow: hidden; */
}

#home-inner {
  width: 100%;
  height: 100%;

  background-size: 40px 60px;
  position: absolute;
  /* background:rgb(77, 77, 77); */

  /* background-image: url("../BG2.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background: rgb(53, 53, 53); */
}

@keyframes cubes {
  0% {
  }

  50% {
  }

  100% {
  }
}

#home-text {
  position: absolute;
  text-align: left;
  height: 90vh;
  top: 10vh;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 5vw;
  right: 5vw;
  border-radius: 200px;
  color: #ffffff;
}

#home-text p {
  margin: 0px;
}

#home-text p:nth-child(1) {
  font-size: 46px;
  color: rgb(255, 255, 255);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.outline-text {
  text-shadow: 1px 1px 1px white, -1px 1px 1px white, -1px -1px 1px white, 1px -1px 1px white;
  font-family: "Montserrat-extra-bold";
  letter-spacing: 2px;
  color: black;
  transition: 0.3s;
}

.outline-text:hover {
  color: rgb(255, 255, 255, 0.2);
  text-shadow: 1px 1px 1px white, -1px 1px 1px white, -1px -1px 1px white, 1px -1px 1px white;
  transform: scale(0.5);
}

.normal-size {
  font-family: "Montserrat-light";
}

.scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50px;
  font-size: 16px;
  color: rgb(187, 187, 187);
  text-decoration: none;
  transition: 0.2s;
  display: flex;
  /* border: 1px solid; */
  padding: 0px 10px;
  border-radius: 20px;
  overflow: hidden;
}

.scroll-down .fa-solid {
  transform: rotate(90deg);
  margin-left: 10px;
}

.scroll-down:hover {
  transform: scale(1.2);
  color: rgb(255, 255, 255);
}

.scroll-down:hover::before {
  left: 0%;
}

/* Social icons */
.socials-icons {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.socials-inner {
  position: relative;
  color: #ffffff;
  margin: 2px;
  cursor: pointer;
  transition: 0.2s;
  padding: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials-inner:hover {
  transform: scale(1.4);
}

.socials-inner .fa-brands {
  font-size: 28px;
  color: #ffffff;
}

/* .socials-inner:hover .tool-tip {
  visibility: visible;
} */

.tool-tip {
  background: rgb(0, 0, 0);
  padding: 5px;
  color: rgb(255, 255, 255);
  position: absolute;
  display: flex;
  border-radius: 5px;
  left: -20%;
  top: -50px;
  animation: tip;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: 0.2s;
  transition-delay: 0.5s;
}

.tool-tip::before {
  content: "";
  position: absolute;
  width: 5;
  height: 10;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid rgb(0, 0, 0);
  bottom: -10px;
  transform: rotate(180deg);
}

#skills,
#portfolio,
#contact,
#about {
  display: block;
  width: 100%;
  position: relative;
}

#contact {
  margin-bottom: 50px;
  background: black;
}

#portfolio {
  display: flex;
  background: black;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  color: black;
  z-index: 12;
  position: relative;
}
#portfolio h1 {
  width: 98%;
  color: white;
  padding-left: 2%;
}

#portfolio::before {
  content: "";
  display: block;
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0%;
  background: white;
  z-index: -1;
}

#work-experience {
  background: white;
  z-index: 10;
}

table {
  color: black;
}

table tr:nth-child(1) {
  background: #000000;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

table th {
  border: none;
  text-align: center;
  font-family: "Montserrat-lighter";
  padding-bottom: 20px;
  font-weight: 100;
}

table tr {
  border: none;
}

table td {
  border: none;
  font-size: 16px;
  color: black;
  font-family: "Montserrat-light";
}

table td:nth-child(1) {
  border: none;
  font-size: 16px;
  width: 100px;
}

.odd-row {
  background-color: rgb(248, 249, 255);
}

/* #portfolio h1 {
  color: black;
} */

.skills-grid {
  display: flex;
  width: 80%;
  margin: 5% 10%;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.skills-row {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  position: relative;
  background: #ffffff;
  margin: 1%;
}

.skills-row h2 {
  font-size: 20px;
  font-family: "Montserrat-light";
  text-align: center;
  background: #f6f9ff;
  padding: 5px 0;
}

.description {
  color: white;
  font-size: 24px;
}

.portfolioPanel-display {
  width: 100%;
  margin: auto;
  margin-top: -10px;
  display: flex;
  flex-direction: row;

  padding: 50px 50px 200px 50px;
}

.socials {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}

.socials a {
  color: rgb(64, 83, 136);
  font-size: 50px;
  margin: auto;
}

.socials a .fa {
  color: rgb(64, 83, 136);
  font-size: 40px;
}

.contact-me {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 100%;
}

.contact-me .fa {
  color: rgb(64, 83, 136);
}

.contactMe {
  margin: auto;
  font-size: 16px;
  text-align: right;
  color: rgb(121, 146, 175);
}

hr {
  color: rgb(255, 255, 255);
}

.footer {
  width: 90%;
  padding: 5%;
  font-size: 20px;
  display: flex;
}

.footer .contact-details {
  flex: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: -50px;
  position: relative;
}

.footer .contact-details p {
  margin: 5px;
}

.footer a {
  color: black;
  left: 0;
}

.footer a .fa-solid{
  transform: rotate(270deg);
}
.footer a:hover {
  color: black;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 5rem;
}
