/*Colors*/

:root {
  --orange: rgb(255, 255, 255);
}

body {
  margin: 0%;
  width: 100vw;
  background: rgb(55, 66, 110);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: rgb(49, 69, 158);
  height: 10px;
  cursor: all-scroll;
}

@media screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 10px;
    display: none;
  }

  ::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(49, 69, 158);
    height: 10px;
    cursor: all-scroll;
    border-radius: 20px;
  }
}

* {
  font-family: "Montserrat-light";
}

.content {
  width: 100vw;
  position: relative;
  z-index: 1;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content p {
  text-align: center;
  font-size: 20px;
  line-height: 1.4em;
  margin-top: 50px;
}

.left-border {
  border-left: 4px solid rgb(93, 196, 110);
  border-radius: 4px;
  background: rgb(244, 253, 255);
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  z-index: 10;
  font-size: 42px;
  right: 0px;
  font-weight: 300;
  position: relative;
  font-family: "Montserrat-extra-bold";
  color: white;
}

.fa {
  color: rgb(215, 241, 255);
  font-size: 28px;
}

.dot {
  display: flex;
  float: right;
}

.dots {
  background: rgb(255, 255, 255);
  height: 10px;
  width: 10px;
  margin: 5px;
  border-radius: 50%;
}

/*Other pages*/

#home {
  width: 100vw;
  height: 100vh;
  position: relative;
  /* background: rgb(0, 0, 0, 0.2); */
  /* overflow: hidden; */
}

#home-inner {
  width: 100%;
  height: 100%;

  background-size: 40px 60px;
  position: absolute;
  /* background:rgb(77, 77, 77); */

  /* background-image: url("../BG2.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background: rgb(53, 53, 53); */
}

@keyframes cubes {
  0% {
  }

  50% {
  }

  100% {
  }
}

#home-text {
  position: absolute;
  text-align: left;
  height: 90vh;
  top: 10vh;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 5vw;
  right: 5vw;
  border-radius: 200px;
  color: #ffffff;
}

#home-text p {
  margin: 0px;
}

#home-text p:nth-child(1) {
  font-size: 46px;
  font-family: "Montserrat-extra-bold";
  color: rgb(255, 255, 255);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.normal-size {
  font-family: "Montserrat-light";
}

.scroll-down {
  position: absolute;
  bottom: 50px;
  left: 350px;
  font-size: 16px;
  color: rgb(187, 187, 187);
  text-decoration: none;
  transition: 0.2s;
  display: flex;
  /* border: 1px solid; */
  padding: 0px 10px;
  border-radius: 20px;
  overflow: hidden;
}

.scroll-down .fa-solid {
  transform: rotate(90deg);
  margin-left: 10px;
}

.scroll-down:hover {
  transform: scale(1.2);
  color: rgb(255, 255, 255);
}

.scroll-down:hover::before {
  left: 0%;
}

/* Social icons */
.socials-icons {
  z-index: 200;
  display: flex;
  flex-direction: row;
  /* position: absolute; */
  right: 50px;
}

.socials-inner {
  position: relative;
  color: #ffffff;
  /* border-bottom: 2px solid #ffffff; */
  margin: 5px;
  cursor: pointer;
  transition: 0.2s;
  padding: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials-inner:hover {
  transform: scale(1.4);
}

.socials-inner .fa-brands {
  font-size: 30px;
  color: #ffffff;
}

/* .socials-inner:hover .tool-tip {
  visibility: visible;
} */

.tool-tip {
  background: rgb(0, 0, 0);
  padding: 5px;
  color: rgb(255, 255, 255);
  position: absolute;
  display: flex;
  border-radius: 5px;
  left: -20%;
  top: -50px;
  animation: tip;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: 0.2s;
  transition-delay: 0.5s;
}

.tool-tip::before {
  content: "";
  position: absolute;
  width: 5;
  height: 10;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid rgb(0, 0, 0);
  bottom: -10px;
  transform: rotate(180deg);
}

#skills,
#portfolio,
#contact,
#about {
  top: 10px;
  display: block;
  width: 100%;
  position: relative;
}

#contact {
  margin-bottom: 250px;
}

#portfolio {
  display: flex;
  width: 80vw;
  padding: 0 10vw;
  /* overflow-x: scroll; */
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  color: black;
  z-index: 12;
  position: relative;
}
#portfolio h1 {
  width: 100%;
}

#portfolio::before {
  content: "";
  display: block;
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0%;
  background: white;
  z-index: -1;
}

#work-experience {
  background: white;
  width: 90vw;
  padding: 0 5vw;
  z-index: 10;
}

#work-experience h1 {
  color: rgb(55, 66, 110);
}

#work-experience table {
  color: black;
  /* border: 1px solid black; */
}

#work-experience table tr:nth-child(1) {
 background:#68c4db;
 color:white;
}

#work-experience table th {
  /* background: #68bfe7; */
  border: none;
  text-align: center;
  font-family: "Montserrat-light";
  font-size: 30px;
  /* border: 1px solid black; */

  padding-bottom: 20px;
}

#work-experience table tr {
  border: none;
}
#work-experience table td {
  border: none;
  font-size: 18px;
}

.odd-row {
  background-color: rgb(241, 248, 255);
  border-radius: 30px;
}

/* #portfolio h1 {
  color: black;
} */

.skills-grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.skills-row {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  position: relative;
  background: #ffffff;
  margin: 1.5%;
  border-radius: 10px;
  transition: 0.5s;
}

.skills-row:hover {
  transform: scale(1.1);
}

.skills-row h2 {
  margin: 10px;
  color: rgb(0, 0, 0);
}

.description {
  color: white;
  font-size: 24px;
}

.portfolioPanel-display {
  width: 100%;
  margin: auto;
  margin-top: -10px;
  display: flex;
  flex-direction: row;

  padding: 50px 50px 200px 50px;
}

.socials {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}

.socials a {
  color: rgb(64, 83, 136);
  font-size: 50px;
  margin: auto;
}

.socials a .fa {
  color: rgb(64, 83, 136);
  font-size: 40px;
}

.contact-me {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 100%;
}

.contact-me .fa {
  color: rgb(64, 83, 136);
}

.contactMe {
  margin: auto;
  font-size: 16px;
  text-align: right;
  color: rgb(121, 146, 175);
}

hr {
  color: rgb(255, 255, 255);
}

footer {
  width: 100%;
  color: rgb(0, 59, 90);
  text-align: center;
  font-size: 20px;
  position: relative;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255);
  padding: 50px 0;
}

footer p {
  margin: 5px;
  font-family: "Montserrat-normal";
}

footer p:nth-child(2) {
  margin: 5px;
  font-size: 24px;
  font-family: "Montserrat-bold";
}

footer p:nth-child(4) {
  margin: 50px;
  font-size: 16px;
  font-family: "Montserrat-bold";
  color: rgb(0, 0, 0);
  padding: 10px 20px;
}

footer p .fa-solid,
footer p .fa-regular {
  margin: 10px;
  color: white;
  background: rgb(0, 59, 90);
  padding: 10px;
  border-radius: 50%;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 5rem;
}
