.ball {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 800;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-shadow: inset 5px 5px 30px rgb(0, 0, 0, 0.28), inset 5px 5px 20px rgba(0, 0, 0, 0.28);
  position: absolute;
  overflow: hidden;
  bottom: 0px;
  right: 0px;
  top: -100px;
  transition: 0.1s;
  transform: scaleY(-1);
}

.ball-inner {
  background: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 800;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
}

.historic-results {
  width: 80%;
  padding: 20px;
  background: white;
  margin: 10px;
  display: flex;
}

.ball-history {
  width: 30px;
  height: 30px;
  margin: 2px;
  border-radius: 50%;
  background: #ccc;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
