.ball {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 800;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* box-shadow: inset 5px 5px 30px rgb(0, 0, 0, 0.28), inset 5px 5px 20px rgba(0, 0, 0, 0.28); */
  box-shadow: inset 5px 5px 30px rgb(0, 0, 0, 0.38), inset 5px -5px 10px rgba(0, 0, 0, 0.38);
  position: absolute;
  overflow: hidden;
  bottom: 0px;
  right: 0px;
  top: -100px;
  transition: 0.1s;
  transform: scaleY(-1);
}

.ball-inner {
  background: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 800;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#seconds {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#seconds::before {
  content: "";
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 4px solid;
  border-left: 4px solid rgb(255, 0, 0);
  position: absolute;
  animation: time 20s linear infinite;
}

@keyframes time {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
