body {
  margin: 0px;
  background: rgb(88, 88, 88);
  background: rgb(71, 71, 71);
  user-select: none;
}



main {
  position: relative;
  top: 50px;
}

.blur {
  filter: blur(10px);
}

.select-nums {
  width: 350px;
  height: 350;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 20px;
  top: 20px;
  padding: 2px;
}

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nums {
  width: 40px;
  height: 40px;
  font-size: 20px;
  background-color: rgb(31, 31, 31);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  margin: 2px;
  border-radius: 10px;
}

.selected {
  background: rgb(255, 255, 255);
  color: rgb(61, 61, 61);
  transition: .4s;
}

.results {
  height: 80px;
  width: 490px;
  border: 2px solid white;
  background: linear-gradient(white, white, white, rgb(202, 202, 202));
  position: absolute;
  top: 30px;
  right: 30px;
  border-bottom: 10px solid rgb(255, 255, 255);
  overflow: hidden;
}

.pops-results {
  height: 50px;
  width: 490px;
  position: absolute;
  top: 150px;
  right: 30px;
  display: flex;
  color: white;
}

.pop {
  max-width: 100%;
  width: 80px;
  margin: 5px;
  background: rgb(255, 255, 255, .3);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  transform: scale(0);
  transition: 1s;
  border: 2px solid;
  border-radius: 50%;
  padding: 5px;
}


.bet-history {
  background: red;
  height: 250px;
  border: 2px solid white;
}

.buttons {
  position: absolute;
  left: 30px;
  top: 320px;
  width: 270px;
}

.buttons #play,
.buttons #add,
.buttons #shuffle {
  padding: 2px 10px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  border: none;
}

.buttons #shuffle,
.buttons #add {
  width: 49%;
}

.buttons #play {
  width: 100%;
}

.slip {
  width: 325px;
  height: 75vh;
  background: rgb(255, 255, 255);
  position: absolute;
  left: 400px;
  top: 10px;
  z-index: 1;
  /* display: none; */
  padding-top: 10px;
  padding-top: 30px;
  overflow-y: auto;
  overflow-x: hidden;
}

.view-slip {
  padding-left: 20px;
  font-size: 20px;
  background: white;
  width: 300px;
  top: -40px;
  left: 400px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.18);
  border-left: 5px solid rgb(111, 176, 255);
  position: absolute;
  z-index: 2;
}

.added,
.deleted {
  font-size: 18px;
  background: rgb(197, 255, 197);
  color: green;
  display: none;
  top: 0px;
  position: absolute;
  width: 100%;
  text-align: center;
}

.deleted {
  background: rgb(255, 205, 205);
  color: red;
}

.cancel {
  width: 25px;
  height: 25px;
  color: red;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  transition: .2s ease-in-out;
  z-index: 10;
}

.cancel .fa-solid {
  font-size: 20px;
  text-align: center;
}

.cancel:hover {
  color: rgb(50, 50, 50);
}

.empty {
  font-size: 24px;
  text-align: center;
}

.display {
  display: block;
}

#count {
  font-size: 16px;
  height: 25px;
  width: 25px;
  background: rgb(255, 255, 255);
  color: rgb(60, 67, 78);
  position: absolute;
  right: -10px;
  top: -10px;
  border: 3px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slip .fa-solid {
  padding-right: 10px;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed;
  margin-top: 0px;
  color: #e9e9e9;
}

.row {
  display: flex;
  height: auto;
  margin-bottom: 5px;
  align-items: center;
}

.fa-trash {
  position: absolute;
  right: 10px;
  color: #252525;
  z-index: 100;
  cursor: pointer;
}

.fa-trash:hover {
  color: #838383;
}

.row-content {
  width: 30px;
  height: 30px;
  color: #929292;
  border: 2px solid;
  font-size: 20px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Arial Narrow', Arial, sans-serif;
  position: relative;
  border-radius: 50%;
  padding: 2px;
}

.win-or-lose {
  width: 68px;
  height: 40px;
  left: 280px;
  position: absolute;
}

footer {
  color: white;
  background: black;
  position: absolute;
  bottom: 10px;
  right: 50px;
  font-size: 16px;
  padding: 2px 5px;
}